.margin1 {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.margin2 {
    margin-top: 40px;
}

.corner-image {
    height: 450px; /* Establece la altura fija */
    object-fit: cover; /* Controla cómo se ajusta la imagen */
}

#imageCase,
#imageMobo,
#imagePsu {
    width: 200px; /* Establece el ancho fijo en píxeles */
    height: 150px; /* Establece la altura fija en píxeles */
}

.typeahead { 
    width: 100%; 
}

#graficopc1 h4 {
    font-family: "Josefin Slab";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.9;
    text-decoration: none;
    text-transform: none;
}